body{
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: #454545;
	text-anchor: middle;
	alignment-baseline: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

text {
	text-shadow: none;
	stroke: none;
	fill: #454545;
	font-weight: 500;
	font-size: 12px;
}

#viz-container,
#top-menu-content,
#footer{
	margin: auto;
	width: 1320px;
	overflow: hidden;
}

#viz-container{
	margin-top: 5px;
	border: 1px solid #454545;
	position: relative;
	width: 1200px;
	height: 720px;
}

#footer{
	padding: 5px;
}

#top-menu{
	width: 100%;
	background: #c3f08e;
	height: 35px;
}

#top-menu-content{
	line-height: 35px;
	position:relative;
}

.header-sites{
	position: relative;
	z-index: 10;
}

.header-sites ul {
	margin: 0;
	padding: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.header-sites ul li:first-child {
	border-left: none;
}

.header-sites ul li {
	display: inline;
	margin-right: 5px;
	padding-left: 8px;
	border-left: 1px solid #62b14f;
	font-size: 14px;
}

a:link, .all-link:link, a:visited, .all-link:visited, a:hover, .all-link:hover, a:active, .all-link:active, a, .all-link {
	text-decoration: none;
	color: #338f2f;
}

#title{
	position:absolute;
	top:0;
	left:400px;
	line-height: 35px;
	font-size: 20px;
	width: 400px;
	text-align: center;
}

#titleBit {
	display: inline-block; 
	padding-top: 5px; 
	vertical-align: top; 
	font-size: 18px; 
	font-weight: bold; 
	color: rgba(85,85,85,0.8); 
	text-shadow: 1px 1px 1px #ECECEC;
}

#titleBit:hover {
	text-decoration: underline; 
	color: blue;
}

#pageMask {
	position: fixed; 
	top: 0px; display: 
	none; width: 100%; 
	min-height: 100%; 
	text-align: center; 
	vertical-align: middle; 
	background-color: gray; 
	opacity: 0.7
}


.grpWrapper {white-space: nowrap; text-align: left; }

#legendSVGdiv {
	display: inline-block; 
	width: 280px; 
	/*height: 530px; */
	/*border: 1px solid #ECECEC; border-radius: 5px; margin-top: 25px;*/ 
	text-align: left; 
	white-space: nowrap; 
	overflow: hidden;
}
	
	#legendSVG {}
	#legendGrp_label {font-size: 8px;}
		tspan {font-size: 10px;}
		
#helpText {
	font-family: 'Open Sans',sans-serif; 
	font-size: 0.80em
}

.legend_box {	
	/*display: none;*/;
}

.legend_text {
	font-size: 9px;
}

#toolTip {
	/*width: 200px; height: 100px;*/
	position: absolute;
	background-color: rgba(255,255,255,0.95);
	margin: 10px;
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
	font-size: 12px;
	font-family: sans-serif;	
	display: none;
}

	#toolTip table {
		font-size: 12px;
	}

	#toolTipTable {width: 300px}
	#toolTipTable td {padding: 3px;}

.zoomResetDiv {
	position: absolute; 
	top: 50px; 
	left: 65%;
	font-size: 10px;
}

.zoomResetBtn {	
	background-color: #ECECEC; 
	border-radius: 5px; 
	/*stroke: black; fill: rgba(100,100,100,0.3)*/
}
.zoomResetText {
	font-size: 10px; 
	fill: black
}

.zoomArea {
	fill: rgba(0,100,100,0.3)
}

path {fill: none}

.bottomMask, .leftMask, .rightMask {
	stroke: none;
	fill: white;
}

.xAxis, .yAxis {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

#btmPanel {
	position: relative; 
	width: 900px; 
	min-height: 93px; 
	padding: 0; 
	border: 1px solid #ECECEC; 
	border-radius: 5px; 
	margin-top: 5px; 
	text-align: center; 
	white-space: nowrap; 
	overflow: hidden; 
	vertical-align: middle;
}