
#topBar, #btmBar {
	/* white-space: nowrap; */
	/*border-radius: 5px;*/
	vertical-align: middle;
}

#actions .ui-button,
#share-buttons .ui-button {
	border: #454545;
	color: #FFF;
	background: #565656;
	background: -moz-linear-gradient(top,#565656 0%,#303030 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#565656),color-stop(100%,#303030));
	background: -webkit-linear-gradient(top,#565656 0%,#303030 100%);
	background: -o-linear-gradient(top,#565656 0%,#303030 100%);
	background: -ms-linear-gradient(top,#565656 0%,#303030 100%);
	background: linear-gradient(to bottom,#565656 0%,#303030 100%);
}

#permURLinput {width: 200px;}


.controlBox {
	display: inline-block;
	margin: 0 0 0px 0px;
	text-align: center;
}
	
.regionText {
	font-weight: bold;
}

.iso3Text {
	font-weight: normal; 
	padding: 0 0 0 10px;
}

.wbRegionText {
	font-weight: normal; 
	margin-left: 18px;
}

#bottom-controls{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#yearArrBox label {
	margin-left: 5px;
	vertical-align: middle;
}

.controls {
	padding: 3px 5px 3px 5px;
	background: #f2f2f2;
	margin: 0;
	text-align: center;
}

.controlLabel {
	white-space: normal;
	display: inline-block;
	/*width: 20px;*/
	padding: 0px 0px 0px 0px;
	background: #f2f2f2;
	margin: 0 2px 0 2px;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;	
}

.controls .ui-buttonset,
.controls .select2-container{
	position: relative;
	vertical-align: middle;
}


.controls  .ui-button-text{
	padding: 5px;
	font-size: 12px;
	line-height: 16px;
	min-width: 25px;
}

.controls .ui-button{
	border: 1px solid #aaa;
	margin-right: -5px;
	background: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0);*/
	background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}

.controls .ui-button.ui-state-active{
	background: #6cd079;
	background-image: -webkit-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -moz-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -o-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -ms-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	color: white;

	/*background-color: #6cd079;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2152a2), color-stop(0.5, #6cd079));
	background-image: -webkit-linear-gradient(center bottom, #2152a2 0%, #6cd079 50%);
	background-image: -moz-linear-gradient(center bottom, #2152a2 0%, #6cd079 50%);
	background-image: -o-linear-gradient(bottom, #2152a2 0%, #6cd079 50%);
	background-image: -ms-linear-gradient(top, #2152a2 0%, #ffffff 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2152a2', endColorstr = '#6cd079', GradientType = 0);
	background-image: linear-gradient(top, #2152a2 0%, #6cd079 50%);
	color: #fff;
	border-color: #21692B;	
	cursor: default;*/
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {margin-right: 15px;}

.controls > div{
	display: inline-block;
}


#metric-control{
	width: 200px;
}

.label{
	text-antialiasing: true;
	text-rendering: optimizeLegibility;
	shape-rendering: crispEdges;
}

.control .ui-button,
.control .ui-slider-handle,
.control-lock.ui-button,
.control.ui-button{
	border: 1px solid #aaa;
	background: #eee;
	background-image: -webkit-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
	background-image: -ms-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
	background-image: linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
}

/* blue version
.control .ui-button.ui-state-active{
	background-color: #3875D7;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875D7), color-stop(90%, #2A62BC));
	background-image: -webkit-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: -moz-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: -o-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: -ms-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: linear-gradient(#3875D7 20%, #2A62BC 90%);
	color: white;
	background-color: #3875d7;
	border-color: #1c478d;	
	cursor: default;
}
*/

.control .ui-button.ui-state-active,
.select2-results .select2-highlighted, 
.control.ui-button.ui-state-active{
	background: #6cd079;
	background-image: -webkit-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -moz-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -o-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: -ms-linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	background-image: linear-gradient(top, #6cd079 0%,#2d8f3a 100%);
	color: white;
}

.control .ui-button.ui-state-active,
.control.ui-button.ui-state-active{
	border: 1px solid #21692B;
	cursor: default;
}
