body{
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: #454545;
	text-anchor: middle;
	alignment-baseline: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

text {
	text-shadow: none;
	stroke: none;
	fill: #454545;
	font-weight: 500;
	font-size: 12px;
}

#viz-container,
#top-menu-content,
#footer{
	margin: auto;
	width: 1320px;
	overflow: hidden;
}

#viz-container{
	margin-top: 5px;
	border: 1px solid #454545;
	position: relative;
	width: 1200px;
	height: 720px;
}

#footer{
	padding: 5px;
}

#top-menu{
	width: 100%;
	background: #c3f08e;
	height: 35px;
}

#top-menu-content{
	line-height: 35px;
	position:relative;
}

.header-sites{
	position: relative;
	z-index: 10;
}

.header-sites ul {
	margin: 0;
	padding: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.header-sites ul li:first-child {
	border-left: none;
}

.header-sites ul li {
	display: inline;
	margin-right: 5px;
	padding-left: 8px;
	border-left: 1px solid #62b14f;
	font-size: 14px;
}

a:link, .all-link:link, a:visited, .all-link:visited, a:hover, .all-link:hover, a:active, .all-link:active, a, .all-link {
	text-decoration: none;
	color: #338f2f;
}

#title{
	position:absolute;
	top:0;
	left:0;
	line-height: 35px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}