#viz-container {
	width: 100%;
	margin: 0 auto;
	
	border: 1px solid #bfbfbf;
	
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: #454545;
	text-align: center;
	alignment-baseline: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.left{
	float: left;
}

.right{
	float: right;
}

#lines {
	background-color: #eee;
}

.chartTitle {
	margin: 10px;
	font-size: 12px;
	font-weight: 700;
}

svg {
	overflow: hidden;
}

path {
	fill: none;
}

.plotArea {
	fill: #fff;
}

.lines_chart {
	position: relative;
	display: inline-block;
	width: 90%;
	height: 60%;
	max-width: 550px;
	max-height: 550px;
	overflow: hidden;
	margin: 20px 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.xAxis, .yAxis {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

.yGrid {
	stroke: none;
}

.domain {
	stroke: #000;
	stroke-width: 2px;
}

.xAxisLabel, .yAxisLabel {
	font-weight: 700;
}

.yAxisLabel {
	position: absolute;
	top: 220px;
	left: -15px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

.tick line {
	stroke: #000;
}

.tick text {
	fill: #000;
	stroke: none;
}

.zoomArea {
	fill: rgba(0,100,100,0.3)
}

.zoomResetBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 25px;
	padding: 5px;
}

#toolTip {
	/*width: 200px; height: 100px;*/
	position: absolute;
	margin: 10px;
	padding: 5px; 
	display: none; 
	background-color: rgba(255,255,255,0.95);
	border: 1px solid red;
	border-radius: 2px;
	text-align: left;
	font-size: 12px;
}