#viz-container {
	width: 100%;
	margin: 0 auto;
	
	border: 1px solid #bfbfbf;
	
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: #454545;
	text-align: center;
	alignment-baseline: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.left{
	float: left;
}

.right{
	float: right;
}


svg {
	overflow: hidden;
}

path {
	fill: none;
}

.plotArea {
	fill: #fff;
}

#arrow, #heat {
	margin: 0px; 
	min-height: 450px; 
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	overflow: hidden;
	background-color: #ffffff;
}

.arrow_chart {
	position: relative;
	text-align: center;
}

	.smallRect {
		stroke: #ECECEC; 
		stroke-width: 1px;  
		fill: rgba(100,100,100,0.9); /*cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default;*/
	}

	.arrowRect {
		stroke: #333; 
		stroke-width: 1px;  
		fill: rgba(100,100,100,0.9); 
	}

	.xAxis, .yAxis {display: none;}

	.chartTitle {
		width: 100%; 
		margin: 10px 0 10px 0; 
		text-align: center; 
	} 

	.colTitle , .heatColTitle {
		font-size: 10px; 
		text-anchor: start; 
		cursor: pointer;
	} /* shape-rendering: crispEdges; */
	
	.arrowColTitle {
		font-size: 10px; 
		font-weight: bold; 
		text-anchor: start;
	}

	.rowLabel {
		font-size: 10px; 
		text-anchor: end;
	}
	
	.rowCloserText {
		font-size: 10px; 
		text-align: center; 
		fill: rgba(200,50,50,0.5); 
		cursor: pointer;
	}
	
	.rowCloserBtn {
		fill: rgba(200,200,200,0.2);
	}

	.shortInput {width: 40px;}
	.shortSelect {width: 100px;}

	.cellText {
		font-size: 10px; 
		text-align: center; 
		text-anchor: middle; /*cursor: url(openhand.cur), default;*/ 
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.arrowCellText {
		text-anchor: start; /*cursor: url(openhand.cur), default;*/ 		
	}
	
	.rowLabel {
		font-size: 11px;
		text-anchor: end;
	}

.cellTextLJ {font-size: 10px; text-align: left; stroke-width: 1px;}	

.colorBin {
	display: inline-block;
	margin: 20px;
	width: 100px;
	height: 20px;
	fill-opacity: 0.3;
}

#map .tick, #map .domain {
	stroke: #000;
}


#toolTip {
	/*width: 200px; height: 100px;*/
	position: absolute;
	margin: 10px;
	padding: 5px; 
	display: none; 
	background-color: rgba(255,255,255,0.95);
	border: 1px solid red;
	border-radius: 2px;
	text-align: left;
	font-size: 12px;
}